################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project/Display/bin/Debug/net8.0-windows
/Project/Display/obj
/Project/Models/bin/Debug/net8.0
/Project/Models/obj
/Project/MiddleWareSimulation/bin
/Project/MiddleWareSimulation/obj
/Project/.vs/
